<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oyorooms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- SplashScreen -->
        <activity
            android:name="com.example.oyorooms.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Screen -->
        <activity
           android:name="com.example.oyorooms.MainActivity"
           android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity 
            android:name="com.example.oyorooms.BookingForm"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity 
            android:name="com.example.oyorooms.Hotel_List"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>
    
    

</manifest>
